arxiv
beautifulsoup4
datasets
ddgs
google-genai
googlesearch-python
huggingface-hub
json-repair
numpy
openpyxl
pandas
Pillow
pydub
pypdf
python-docx
python-pptx
pytesseract
requests
SpeechRecognition
tenacity
tiktoken
vllm
wikipedia
xlrd
